<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">NoteApp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/notes']" class="nav-link active">Notes List</a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['notes/add']"
            class="nav-link active"
            aria-current="page"
            >Add Note</a
          >
        </li>

        <li class="nav-item">
          <a [routerLink]="['/notes/search']" class="nav-link active"
            >Search Note</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
